<!--<div>
  <label>Vehicle :
    <input #carModel />
  </label>
  &lt;!&ndash; (click) passes input value to add() and then clears the input &ndash;&gt;
  <button (click)="add(carModel.value); carModel.value=''">
    add
  </button>
</div>-->

  <ul class="cars">
    <li *ngFor="let vehicle of vehicles">
      <a routerLink="/details/{{vehicle.id}}">
      <span class="badge">{{vehicle.id}}</span> {{vehicle.vehicleType}}: {{vehicle.name}}
      </a>
<!--      <button class="delete" title="delete vehicle" (click)="delete(vehicle)">X</button>-->
    </li>
  </ul>


  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Vehicle Type</th>
      <th scope="col">Name</th>
      <th scope="col">...</th>
      <th scope="col">...</th>
      <th scope="col">...</th>
    </tr>
    </thead>
    <tbody>
    <div *ngFor="let vehicle of vehicles">
      <tr>
        <th scope="row">{{vehicle.id}}</th>
        <td>{{vehicle.vehicleType}}</td>
        <td>{{vehicle.name}}</td>
        <td>{{vehicle.model}}</td>
        <td>{{vehicle.color}}</td>
        <td>{{vehicle.productionDate}}</td>
      </tr>
    </div>
    </tbody>
  </table>


