<!--<div>
  <label>Vehicle :
    <input #carModel />
  </label>
  &lt;!&ndash; (click) passes input value to add() and then clears the input &ndash;&gt;
  <button (click)="add(carModel.value); carModel.value=''">
    add
  </button>
</div>-->

  <ul class="cars">
    <li *ngFor="let vehicle of vehicles">
      <a routerLink="/details/{{vehicle.id}}">
      <span class="badge">{{vehicle.id}}</span> {{vehicle.vehicleType}}: {{vehicle.name}}
      </a>
<!--      <button class="delete" title="delete vehicle" (click)="delete(vehicle)">X</button>-->
    </li>
  </ul>


