<input type="date" class="form-control" [(ngModel)]="borrowDate"
         (blur)="onDateChanged($event.target.value)">
<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Vehicle Type</th>
    <th scope="col">Name</th>
    <th scope="col">Manufacturer</th>
    <th scope="col">Model</th>
    <th scope="col">Color</th>
    <th scope="col">Borrower Name</th>
    <th scope="col">Borrow Date</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let vehicle of vehiclesRent" (click)="onSelect(vehicle)" [class.selected]="vehicle === selectedVehicle">
    <td>{{vehicle.id}}</td>
    <td>{{vehicle.vehicleType || '-'}}</td>
    <td>{{vehicle.name || '-'}}</td>
    <td>{{vehicle.manufacturerName || '-'}}</td>
    <td>{{vehicle.model || '-'}}</td>
    <td>{{vehicle.color || '-'}}</td>
    <td>{{vehicle.borrowerFirstName || '-'}} {{vehicle.borrowerSecondName}}</td>
    <td>{{vehicle.borrowDate || '-'}}</td>
  </tr>
  </tbody>
</table>

<input type="button" class="btn btn-success" value="Add Vehicle" routerLink="/addCar">
<input type="button" class="btn btn-info" value="Edit Vehicle" [disabled]="isEditButtonDisabled" routerLink="/editCar/{{selectedId}}">
<input type="button" class="btn btn-danger" value="Delete Vehicle" [disabled]="isDeleteButtonDisabled" (click)="delete(selectedVehicle)">
<input type="button" class="btn btn-dark" value="Details" [disabled]="isDetailsButtonDisabled" routerLink="/details/{{selectedId}}">
